@keyframes show {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
}
div {
  box-sizing: border-box;
}
div:after,
div:before {
  content: '';
  clear: both;
  display: block;
}
.btn {
  white-space: normal;
  text-align: center;
  width: 100%;
}
.btn-outline-primary {
  border: none;
  background: #357e7e;
  color: #000;
}
.btn-outline-primary:hover {
  background: #3d9090;
}
.btn-primary {
  border: none;
  background: #357e7e;
  color: #000;
}
.btn-primary:hover {
  background: #3d9090;
}
.label-none {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  display: block;
}
button.mod {
  float: left;
  margin-top: 5px;
}
header {
  width: 100%;
}
.logo {
  width: 100%;
}
.logo .link {
  background: url("/img/logo.png") no-repeat center;
  display: block;
  margin-top: 5px;
  width: 150px;
  height: 152px;
  background-size: contain;
}
.modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.modal-content {
  height: 100%;
}
.padding {
  padding: 20px;
}
.margin {
  margin: 10px;
}
.italics {
  font-style: italic;
}
.menu {
  position: relative;
  height: 100%;
}
.menu .burger {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.menu #checkbox {
  display: none;
}
.menu #checkbox:checked ~ nav {
  display: block;
}
.menu nav {
  display: none;
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 20%;
}
.menu nav ul {
  margin-bottom: 0;
}
.menu nav ul li {
  display: block;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}
.menu nav ul li a {
  display: block;
  text-decoration: none;
  padding: 12px 0;
}
.menu nav ul li a:hover {
  color: #068a1b;
}
.menu nav ul li .noactive {
  color: #000;
}
.menu nav ul li .active {
  color: #068a1b;
}
.form {
  max-width: 768px;
  padding: 0 20px;
}
.form .field {
  margin: 10px 0;
}
.form .field__label {
  position: absolute;
  left: 15px;
  font-size: 13px;
}
.form__field {
  position: relative;
}
.form-control-lg {
  padding: 25px 1rem;
  line-height: 0.5;
}
.form .hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.fatty {
  font-weight: bold;
}
.content .gray {
  background: rgba(127, 127, 127, 0.2);
}
.content .green {
  background: #357e7e;
}
.content .green p {
  color: #fff;
}
.carousel {
  max-width: 96%;
  margin: auto;
}
.carousel-text {
  padding-top: 20%;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 1;
  top: 50%;
  right: 80px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #357e7e;
}
.carousel-control-next {
  right: 15px;
}
.carousel-control-prev {
  left: 15px;
}
.carousel-inner a[href="#carousel-one"],
.carousel-inner a[href="#carousel-three"] {
  background: antiquewhite;
}
.carousel-caption {
  left: 0;
  width: 40%;
  padding-right: 2%;
  top: 20%;
  font-weight: bold;
  color: #000;
}
.carousel-item {
  opacity: 0;
  max-height: 600px;
}
.carousel-item.active {
  opacity: 1;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}
.carousel-inneritem {
  max-width: 400px;
  right: initial;
  height: min-content;
  font-weight: bold;
  margin: auto;
}
.block_bg {
  position: relative;
}
.block_bg-text {
  max-width: 100%;
  display: block;
  padding: 25px;
  box-shadow: inset 1px 2px 9px 6px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.29);
  color: #fff;
  font-weight: bold;
}
.block_text-descriptions p span {
  padding-left: 30px;
}
.block-center {
  margin: auto;
  max-width: 968px;
  display: table;
}
.block_four ul li {
  cursor: pointer;
  margin: 25px 0;
}
.block_four ul li > ul {
  display: none;
}
.block_four ul li:active > ul,
.block_four ul li:hover > ul,
.block_four ul li:focus > ul {
  display: block;
}
ul.list {
  list-style: circle;
  margin: 10px 0 0 30px;
}
ul.list li {
  color: #fff;
  margin: 10px 0;
}
.cellar {
  background: #357e7e;
  color: #fff;
}
.cellar a {
  color: #fff;
}
@media (min-width: 768px) {
  .fa-align-justify {
    display: none;
  }
  .menu .burger {
    width: inherit;
    height: inherit;
  }
  .menu nav {
    top: 0;
    position: initial;
    display: block;
  }
  .menu nav ul {
    float: right;
  }
  .menu nav ul li {
    padding: 0 20px;
    float: left;
  }
  .menu nav ul li a {
    font-weight: bold;
  }
  .menu nav .btn {
    width: auto;
  }
  .carousel-item .img {
    max-height: 470px;
  }
}
@media (min-width: 992px) {
  .carousel-item .img {
    max-height: 350px;
  }
}
@media (min-width: 1200px) {
  .carousel-item .img {
    max-height: 400px;
  }
}
@media (min-width: 1500px) {
  .carousel-item .img {
    max-height: 500px;
  }
}
@media (min-width: 1700px) {
  .carousel-item .img {
    max-height: 600px;
  }
}
@media (min-width: 992px) {
  .align-items-center {
    align-items: center;
  }
  h1,
  .h1 {
    font-size: 4.5rem;
  }
  h2,
  .h2 {
    font-size: 3rem;
  }
  .block_bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
  }
}
/*# sourceMappingURL=style.css.map */