@cr: #000;
@bg: #fff;
@hover: #068a1b;
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
  }
}

div {
  box-sizing: border-box;

  &:after,
  &:before {
    content: '';
    clear: both;
    display: block;
  }
}

.label {
  &-none {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    display: block;
  }
}

button.mod {
  z-index: 9999;
  position: fixed;
  right: 0;
  top: 50%;
  //  width: 30px;
  //height: 30px;
}

header {
  //  position: fixed;
  //top: 0;
  width: 100%;
  height: 200px;
}

.modal {
  &-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
  }

  &-content {
    height: 100%;
  }
}

.menu {
  .burger {
    width: 50px;
    height: 50px;
    position: absolute;
    //left: 10px;
    // top: 12px;
  }

  #checkbox {
    display: none;

    &:checked ~ nav {
      display: block;
      //   animation: burger 1s;
    }
  }

  nav {
    display: none;
    width: 100%;
    background: @bg;
    position: absolute;
    z-index: 2;
    top: 100%;

    ul {
      margin-bottom: 0;

      li {
        display: block;
        text-align: left;
        font-size: 16px;
        padding-left: 10px;


        a {
          display: block;
          text-decoration: none;
          padding: 12px 0;

          &:hover {
            color: @hover;
          }
        }

        .noactive {
          color: @cr;
        }

        .active {
          color: @hover;

        }
      }
    }
  }
}

.form {
  max-width: 768px;
  padding: 0 20px;

  .field {
    margin: 10px 0;

    &__label {
      position: absolute;
      left: 15px;
      font-size: 13px;
    }
  }

  &__field {
    position: relative;
  }

  &-control {
    &-lg {
      padding: 25px 1rem;
      line-height: 0.5;
    }
  }

  .hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.content {
  .green {
    background: rgba(6, 138, 27, 0.5);
  }
}

.carousel {
  max-width: 1024px;
  margin: auto;

  &-control {
    &-prev, &-next {
      top: 90%;
      right: 80px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: antiquewhite;
    }

    &-next {
      right: 5px;
    }

    &-prev {
      left: initial;

    }
  }
  &-inner{

  }
  &-caption {
    left: 0;
    max-width: 400px;
    right: initial;
    background: rgba(0,0,0,0.5);
    height: min-content;
    top: 20%;
    font-weight: bold;

  }

  &-item {
    max-height: 600px;

    .img {
      //background-size: cover;
      float: right;
      max-height: 400px;
      width: 60%;
      img{
        background-size: contain;
      }
    }
  }
}

.cellar {
  background: black;
  height: 20px;
}

@media (min-width: 1024px) {
  .fa {
    &-align {
      &-justify {
        display: none;
      }
    }
  }

  .menu {
    .burger {
      width: inherit;
      height: inherit;
    }

    nav {
      top: 0;
      position: initial;
      display: block;

      ul {
        li {
          padding: 0 20px;
          float: left;

          a {
            font-weight: bold;
          }
        }
      }
    }
  }
}