@import 'animation.less';
@cr: #000;
@bg: #fff;
@btn: #357e7e;
@hover: #068a1b;
@ff: 'Merriweather', serif;
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: @ff;
  font-weight: normal;
}

a {
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
  }
}
ul{
  list-style: none;
}
div {
  box-sizing: border-box;

  &:after,
  &:before {
    content: '';
    clear: both;
    display: block;
  }
}
.errors, .go{
  background: red;
  padding: 5px;
  color: white;
  font-size: 23px;
}
.go{
  background: @btn;
}
button.btn {
  white-space: normal;
  text-align: center;
  width: 100%;
}
.btn-outline-primary, .btn-primary{
  background: @btn;
  color: @cr;
  border: none;
  &:hover {
    background: lighten(@btn, 5%);
  }
}
.label {
  &-none {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    display: block;
  }
}

button.mod {
  float: left;
  margin-top: 5px;

}

header {
  width: 100%;
}

.logo {
  width: 100%;
  .link {
    background: url("/img/logo.png") no-repeat center;
    display: block;
    margin-top: 5px;
    width: 150px;
    height: 152px;
    background-size: contain;
  }
}

.modal {
  &-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
  }

  &-content {
    height: 100%;
  }
}
.padding{
  padding: 20px;
}
.margin{
  margin: 10px;
}
.italics{
  font-style: italic;
}
.menu {
  position: relative;
  height: 100%;

  .burger {
    @wh: 30px;
    width: @wh;
    height: @wh;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  #checkbox {
    display: none;

    &:checked ~ nav {
      display: block;
    }
  }

  nav {
    display: none;
    width: 100%;
    background: @bg;
    position: absolute;
    z-index: 2;
    top: 20%;

    ul {
      margin-bottom: 0;
      //float: left;
      li {
        display: block;
        text-align: left;
        font-size: 16px;
        padding-left: 10px;

        a {
          display: block;
          text-decoration: none;
          padding: 12px 0;

          &:hover {
            color: @hover;
          }
        }

        .noactive {
          color: @cr;
        }

        .active {
          color: @hover;

        }
      }
    }
  }
}

.form {
  max-width: 768px;
  padding: 0 20px;

  .field {
    margin: 10px 0;

    &__label {
      position: absolute;
      left: 15px;
      font-size: 13px;
    }
  }

  &__field {
    position: relative;
  }

  &-control {
    &-lg {
      padding: 25px 1rem;
      line-height: 0.5;
    }
  }

  .hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
.fatty{
  font-weight: bold;
}
.content {
  .gray {
    background: rgba(127, 127, 127, 0.2);
  }
  .green{
    background: @btn;
    p{
      color: @bg;
    }
  }
}

.carousel {
  max-width: 96%;
  margin: auto;

  &-text {
    padding-top: 20%;
    font-weight: bold;
    //max-width: 400px;
    text-align: center;
    margin: auto;
  }

  &-control {
    &-prev, &-next {
      z-index: 1;
      top: 50%;
      right: 80px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: @btn;

    }

    &-next {
      right: 15px;
    }

    &-prev {
      left: 15px;
      //left: initial;
    }
  }

  &-inner {
    a[href="#carousel-one"], a[href="#carousel-three"] {
      background: antiquewhite;
    }
  }

  &-caption {
    left: 0;
    width: 40%;
    padding-right: 2%;
    top: 20%;
    font-weight: bold;
    color: @cr;
  }

  &-item {
    opacity: 0;
    max-height: 600px;

    &.active {
      opacity: 1;
      transition: opacity .6s ease, transform .6s ease, -webkit-transform .6s ease;
      //animation: show 1s;
      //transition-property: ;
    }

    .img {

      img {
        //background-size: contain;
      }
    }
  }

  &-inneritem {
    max-width: 400px;
    right: initial;
    height: min-content;
    font-weight: bold;
    margin: auto;
  }
}

.block{
  //height: inherit;
  &_bg{
    position: relative;
    &-text{
    max-width: 100%;
    display: block;
    padding: 25px;
    box-shadow: inset 1px 2px 9px 6px  rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.29);
    color: @bg;
    font-weight: bold;
    }
  }
  &_text{
    &-descriptions{
      p{
        text-align: justify;
        span{
          padding-left: 30px;
        }
      }
      a{
        color: @btn;
      }
    }
  }
  &-center{
    margin: auto;
    max-width: 968px;
    display: table;
  }
  &_four{
    ul{
      li{
        cursor: pointer;
        margin: 25px 0;
        > ul{
          display: none;
        }
        &:active, &:hover, &:focus {
          > ul{
            display: block;
          }
        }
      }
    }
  }
}
ul.list{
  list-style: circle;
  margin: 10px 0 0 30px;
  li{
    color: @bg;
     margin: 10px 0;
  }
}
table{
  table-layout: fixed;
  tr{
    td{
      padding: 10px;
      ul{
        margin-left: 15px;
        list-style: disc;
      }
    }
  }
}
.cellar {
  background: @btn;
  color: @bg;
  a{
    color: @bg;
  }
}

@media (min-width: 768px) {
  .fa {
    &-align {
      &-justify {
        display: none;
      }
    }
  }

  .menu {
    .burger {
      width: inherit;
      height: inherit;
    }

    nav {
      top: 0;
      position: initial;
      display: block;

      ul {
        float: right;

        li {
          padding: 0 20px;
          float: left;

          a {
            font-weight: bold;
          }
        }
      }

      .btn {
        width: auto;
      }
    }
  }

  .carousel {
    &-item {
      .img {
        //float: right;
        //width: 60%;
        max-height: 470px;
      }
    }
  }
}

@media (min-width: 992px) {
  .carousel {
    &-item {
      .img {
        max-height: 350px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .carousel {
    &-item {
      .img {
        max-height: 400px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .carousel {
    &-item {
      .img {
        max-height: 500px;
      }
    }
  }
}

@media (min-width: 1700px) {
  .carousel {
    &-item {
      .img {
        max-height: 600px;
      }
    }
  }
}

@media (min-width: 576px) {
}

// Средние девайсы («таблетки», >= 768px)
@media (min-width: 768px) {
}

// Большие девайсы (десктопы, >= 992px)
@media (min-width: 992px) {
  .align{
    &-items{
      &-center{
        align-items: center;
      }
    }
  }
  h1, .h1{
    font-size: 4.5rem;
  }
  h2, .h2{
    font-size: 3rem;
  }

  .block{
    &_bg{
      &-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 900px;
      }
    }
  }
}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) {
}
