
@cr: #000;
@bg: #fff;
@btn: #357e7e;
@hover: #068a1b;
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
  }
}

div {
  box-sizing: border-box;

  &:after,
  &:before {
    content: '';
    clear: both;
    display: block;
  }
}
.btn{
  &-outline{
    &-primary{
      border: none;
      background: @btn;
      color: @cr;
      &:hover{
        background: lighten(@btn, 5%);
      }
    }
  }
  &-primary{
    border: none;
    background: @btn;
    color: @cr;
    &:hover{
      background: lighten(@btn, 5%);
    }
  }
}
.label {
  &-none {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    display: block;
  }
}

button.mod {
  float: left;
  margin-top: 5px;
  //z-index: 9999;
  //position: fixed;
  //right: 0;
  //top: 10%;
  //  width: 30px;
  //height: 30px;
}

header {
  //  position: fixed;
  //top: 0;
  width: 100%;
}
.logo{
  width: 100%;
  margin-bottom: 15px;
  .link{
    background: url(/img/logo.png) no-repeat center;
    display: block;
    margin-top: 17px;
    width: 150px;
    height: 152px;
    background-size: contain;
  }


}

.modal {
  &-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
  }

  &-content {
    height: 100%;
  }
}

.menu {
  .burger {
    width: 50px;
    height: 50px;
    position: absolute;
    //left: 10px;
    // top: 12px;
  }

  #checkbox {
    display: none;

    &:checked ~ nav {
      display: block;
      //   animation: burger 1s;
    }
  }

  nav {
    display: none;
    width: 100%;
    background: @bg;
    position: absolute;
    z-index: 2;
    top: 100%;

    ul {
      margin-bottom: 0;
      float: left;
      li {
        display: block;
        text-align: left;
        font-size: 16px;
        padding-left: 10px;


        a {
          display: block;
          text-decoration: none;
          padding: 12px 0;

          &:hover {
            color: @hover;
          }
        }

        .noactive {
          color: @cr;
        }

        .active {
          color: @hover;

        }
      }
    }
  }
}

.form {
  max-width: 768px;
  padding: 0 20px;

  .field {
    margin: 10px 0;

    &__label {
      position: absolute;
      left: 15px;
      font-size: 13px;
    }
  }

  &__field {
    position: relative;
  }

  &-control {
    &-lg {
      padding: 25px 1rem;
      line-height: 0.5;
    }
  }

  .hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.content {
  .green {
    background: rgba(138, 132, 134, 0.74);
  }
}

.carousel {
  max-width: 96%;
  margin: auto;

  &-control {
    &-prev, &-next {
      z-index: 1;
      top: 90%;
      right: 80px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: antiquewhite;

    }

    &-next {
      right: 5px;
    }

    &-prev {
      left: initial;

    }
  }
  &-inner{

  }
  &-caption {
    //left: 0;
    //max-width: 400px;
    //right: initial;
    //background: rgba(0,0,0,0.5);
    //height: min-content;
    //top: 20%;
    //font-weight: bold;
    left: 0;
    width: 40%;
    padding-right: 2%;
    top: 20%;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color: @cr;
    //font-family: "Roman";
  }

  &-item {
    max-height: 600px;
    .img {
      //background-size: cover;
      float: right;
      max-height: 470px;
      width: 60%;
      img{
        background-size: contain;
      }
    }
  }
  &-inneritem {
    max-width: 400px;
    right: initial;
//    background: rgba(0, 0, 0, 0.5);
    height: min-content;
    font-weight: bold;
    margin: auto;
  }
}

.cellar {
  background: black;
  height: 20px;
}

@media (min-width: 768px) {
  .fa {
    &-align {
      &-justify {
        display: none;
      }
    }
  }

  .menu {
    .burger {
      width: inherit;
      height: inherit;
    }

    nav {
      top: 0;
      position: initial;
      display: block;
      ul {
        float: right;

        li {
          padding: 0 20px;
          float: left;

          a {
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .carousel {
    &-item {
      .img {
        max-height: 350px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .carousel {
    &-item {
      .img {
        max-height: 400px;
      }
    }
  }
}
@media (min-width: 1500px) {
  .carousel {
    &-item {
      .img {
        max-height: 500px;
      }
    }
  }
}
@media (min-width: 1700px) {
  .carousel {
    &-item {
      .img {
        max-height: 600px;
      }
    }
  }
}

